.container-fluid {
	background-color: #edf0f5;
}

md-input-container .md-errors-spacer {
    min-height: 0;
}

#mdInputFix {
	margin-bottom: 15px;
	margin-top: 63px;
}

.repeatBox {
	padding: 15px 10px;
	border-color: pink !important;
	border-radius: 1px;
}

.repeatBoxImg {
	border-radius: 30px !important;
}
