<div class="md-padding">
<!-- options selector -->
<md-card class="text-center">
  <md-card-title class="text-center">
    <md-card-title-text>
      <span class="md-headline">Welcome To Reddit Search</span>
      <span class="md-subhead">Enter in your search.</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content class="flexbox-parent">
    <div layout="row" layout-align="center center">
      <md-input-container id=mdInputFix flex=20>
        <form name="searchData" ng-submit=getData()>
          <input id="searchData" ng-model="search.searchTerm" placeholder="enter search term" ng-change="addSelection()" ></input>
          <md-button ng-click="getData()">Search</md-button>
        </form>
      </md-input-container>
      <md-input-container flex=20>
        <input ng-model="filterText"  placeholder="filter results"> </input>
      </md-input-container>
      <md-input-container flex=20>
        <label for="repeatSelect">page</label>
        <md-select name="repeatSelect" id="repeatSelect" ng-model="dataa.model" ng-change="updateSearchObjAndGetData()"  >
          <md-option ng-repeat="option in dataa.availableOptions" value="{{option.id}}" >
            {{option.name}}</md-option>
          </md-select>
        </md-input-container>
      </div>
    </div>
  </md-card-content>
</md-card>


<!-- CONTENT FROM DATA -->


<div class="container-fluid">
    <h1 class="text-center">in {{search.searchTerm}} : {{dataa.model}}</h1>
    <div class="clearfix repeatBox col-md-offset-3 col-md-6 text-center" ng-repeat="data in dataArr | filter: filterText">
      <img class="text-center col-md-2 repeatBoxImg" src={{data.data.thumbnail}}>
        <div class=" col-md-8" >
        <a href="{{data.data.url}}">{{data.data.title}}</a>
        <p>-{{data.data.author}}</p>
        </div>
      <br>
    </div> <!-- ng-repeat div -->
</div>

<!-- class="col-md-2 col-md-offset-5" -->





